#modal-sign-up{
    width: 80%;
   
}

#greeting{
    color: white;
}

#modal-add-annousment{
    display: none; 
    position: fixed; 
    
}

#add-annousment-m-content{
    border-radius: 12px;
    margin: 3% auto;
    padding: 20px;
    border: 5px solid rgb(56, 56, 56);
    max-width: 50rem;
    
}

#modal-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

input{
    height: 20px;
}
button{
    display: inline-block;
    
}

table{
    margin-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
tr:hover {
    background-color: #fff3f3;
}
tr,td{
    padding: 12px 15px;
}